---
import PostList from '@/components/PostList.astro'
import TagList from '@/components/TagList.astro'
import { allLocales, themeConfig } from '@/config'
import { getLangFromLocale, getLangRouteParam } from '@/i18n/lang'
import Layout from '@/layouts/Layout.astro'
import { getAllTags, getPinnedPosts, getPostsByYear } from '@/utils/content'

export const prerender = true

export async function getStaticPaths() {
  return allLocales.map(lang => ({
    params: { lang: getLangRouteParam(lang) },
  }))
}

const currentLang = getLangFromLocale(Astro.currentLocale)
const pinnedPosts = await getPinnedPosts(currentLang)
const postsByYear = await getPostsByYear(currentLang)
const showTagsOnHome = themeConfig.global.showTagsOnHome
const allTags = showTagsOnHome ? await getAllTags(currentLang) : []
---

<Layout>
  <!-- Tags -->
  {showTagsOnHome && (
    <section class="mb-7.5">
      <TagList tags={allTags} lang={currentLang} scrollable={true} />
    </section>
  )}

  <!-- Pinned Posts -->
  {pinnedPosts.length > 0 && (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={pinnedPosts} lang={currentLang} pinned={true} />
    </section>
  )}

  <!-- Regular Posts -->
  {[...postsByYear.entries()].map(([_year, posts]) => (
    <section class="mb-7.5">
      <div class="uno-decorative-line" />
      <PostList posts={posts} lang={currentLang} />
    </section>
  ))}
</Layout>
